doctype html
html
  head
    title Login For Om's Dance+ Academy
    block scripts
    block style 
  body
    nav#navbar 
        ul 
            div.nav-img
                img(src="../static/img/nav.gif" title='Om Dance+ Academy.com')
            li #[a(href ='/home7') Home ]
            li #[a(href ='/danceinfo8') Dance Info] 
            li #[a(href ='/dancevedio9') Dance Video] 
            li #[a(href ='/about10') About Us] 
            li #[a(href ='/contact11') Contact Us]
            li #[a(href ='/payment12') Payment]
    block content
    footer#footer 
        |Copyright © 2021 OmDance+Academy.com | All rights reserved